x64/include
arm64/include
.config.old
.build
build.log

*.tar.xz
build-ctng
install-ctng
x-tools

llvm-project
build-llvm-stage1
stage1
build-libcxx-stage1
build-libcxx-stage1-rt
build-llvm-stage2
stage2
build-libcxx-stage2-x64
build-libcxx-stage2-x64-rt
build-libcxx-stage2-arm64
build-libcxx-stage2-arm64-rt

assets
